<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stripe Subscriptions With Node.js</title>
  </head>
  <body>
    <h1>Plans</h1>
    <h2>Starter</h2>
    <p>Monthly subscription for <b>$19.99/month</b></p>
    <p>This is the starter plan</p>
    <a href="/subscribe?plan=starter">Subscribe</a>
    <br /><br /><br />
    <h2>Pro</h2>
    <p>Monthly subscription for <b>$19.99/month</b></p>
    <p>This is the pro plan</p>
    <a href="/subscribe?plan=pro">Subscribe</a>
  </body>
</html>
